/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Rubik Mono One', sans-serif;
}

/* NAV */

nav.menu{
  position: fixed;
  height: 70px;
  width: 100%;
  z-index: 500;
}


nav.menu ul{
  position: absolute;
  right: 50px;
  top: 50px;
}

nav.menu ul li{
  list-style: none;
  display: inline-block;
  margin-left: 1vw;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  background-color: white;
  border-radius: 50%;
  font-weight: bold;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, .5);
}

nav.menu ul li:hover{
  box-shadow: 0px 6px 8px rgba(0, 0, 0, .7);
}

nav ul li a, a:visited{
  display: inline-block;
  text-decoration: none;
  color: black;
  height: 40px;
  width: 40px;
}

nav.menu ul li a:active{
  background-color: lightgray;
  border-radius: 50%;
}

/* MAIN */

.box{
  width: calc(100%);
  height: calc(100vh);
  margin: 0 auto;
  position: relative;
}

.box.uno{
  background-color: #f80204;
  color: #fffd00;
}

.box.due{
  background-color: #208000;
  color: #fffd00;
}

.box.tre{
  background-color: #fffd00;
  color: #208000;
}

.box .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box .content img{
  width: 100%;
  padding-bottom: 0;
}

.box .content p{
  font-size: 2.5vw;
}



